/* Calendar.css */
*body {
  box-sizing: border-box;
}

.calendar-container {

  padding: 10px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f4f4f4;
  font-size: 24px;
  font-weight: bold;
}

.calendar-header button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.calendar-gridheader {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 50px;

  background-color: #fff;

}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-auto-rows: 150px;

  background-color: #fff;

}

.calendar-day {
  padding: 10px;
  border: 1px solid #ddd;
  font-size: 18px;
  overflow-y: auto;
  background-color: #f9f9f9;
}

.calendar-day.empty {
  background-color: transparent;
  border: none;
}

.calendar-day-name {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  padding: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;

}